<h2><%=ht%></h2>
<div class ="<%=cp(false)%>">
  <div class ="<%=c(false)%>Header">
    <%-fields.each do |field| -%>
      <span><%= field.split(":")[0].humanize.titleize %></span>
    <%- end -%>
  </div>
  <div class="<%=c(false)%>FieldGroup" ng-repeat="<%=c(false)%> in <%=cp(false)%>">
    <%-fields.each do |field| -%>
    <%-field_underscore = field.split(":")[0] -%>
      <%-if field_underscore.include?("date") -%>
        {{<%=c(false)%>.<%=field.split(":")[0].underscore%> | date:'MM/dd/yyyy'}}
      <%-else-%>
        {{<%=c(false)%>.<%=field.split(":")[0].underscore%>}}
      <%-end-%>
      
    <%- end -%>
    <button type="button" class="btn btn-primary" ng-click="remove<%=c(true)%>(<%=c(false)%>)">Delete</button>
  </div>
  <ng-form name="<%=c(false)%>Form" novalidate role="form">
    <div class="control-group">
    <%-fields.each do |field| -%>
      <%-field_camel = field.split(":")[0].camelize(:lower) -%>
      <%-field_underscore = field.split(":")[0] -%>
      <div class="form-group" ng-class="{ 'has-error' : <%=c(false)%>Form.<%=field_camel%>.$invalid}">
        <%-if field_underscore.include?("date") -%>
            <input type="text" datepicker-popup="MM/dd/yyyy" ng-model ="new<%=c%>.<%=field_underscore%>" class="form-control" name="<%=field_camel%>" id="<%=field_camel%>" ng-required="true" >
          <%-else-%>
            <input type="text" ng-model ="new<%=c%>.<%=field_underscore%>" class="form-control" name="<%=field_camel%>" id="<%=field_camel%>" required >
          <%-end-%>
      </div>
    <%- end -%>

      <button type="button" class="btn btn-primary" ng-click="add<%=c(true)%>()">Add <%=ht%> </button>
    </div>
  </ng-form>
</div>